.catalog {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 140px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 90px;
    margin-bottom: 68px;
  }
}

.catalog-article {
  margin-bottom: 26px;
}

.catalog__title {
  @include fontOswald;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__catalog-item {
  margin-top: 19px;
  margin-bottom: 25px;
  border-top: 1px solid $special-gray;
  border-bottom: 1px solid $special-gray;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
