.catalog-article {
  margin-bottom: 26px;
}

.catalog__title {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.catalog__catalog-item {
  margin-top: 19px;
  margin-bottom: 25px;
}
