.catalog-item {
  @media (min-width: $tablet-width) {
    width: 324px;
    height: 511px;
    background: linear-gradient(to top, $basic-background 80%, $basic-white 20%);
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 511px;
  }
}

.catalog-item__wrapper {
  @include conteiner (20px, 20px, 320px);

  @media (min-width: $tablet-width) {
    @include conteiner (39px, 39px, auto);
  }
}

.catalog-item__img {
  @include flex;
  flex-wrap: nowrap;
  margin: 0 20px 22px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    text-align: center;
    margin: 0;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.catalog-item__link {
  text-decoration: none;
}

.catalog-item__title {
  @include fontOswald;
  font-size: 16px;
  line-height: 20px;
  width: 76px;
  top: -5px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 140px;
    margin-left: 50px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 30px;
  }
}

.catalog-item__table {
  margin-bottom: 30px;
}

.catalog-item__table-wrapper {
  @include flex;
  flex-direction: column;
}

.catalog-item__row {
  @include flex;
  width: 120px;

  @media (min-width: $tablet-width) {
    width: 250px;
    border-bottom: 1px solid $basic-border-catalog;
    padding-bottom: 9px;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 166px;
  }
}

.catalog-item__column {
  @include fontArial;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}

.catalog-item__button {
  @include btnCatalog;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 10px 93px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px;
  }
}

.catalog-item__goods {
  @media (min-width: $tablet-width) {
    margin-left: -40px;
  }
}

.catalog-item__goods-big {
  @media (min-width: $tablet-width) {
    margin-left: -35px;
    margin-top: -25px;
  }
}
