.comment {
  border: none;
}

.comment__subtitle {
  @include fontOswald;
  font-size: 24px;
  line-height: 26px;
}

.comment__textarea {
  @include fontOswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 13px 12px 121px;
  border: 1px solid $basic-border-input;
  box-sizing: border-box;
  width: 280px;
  height: 150px;
  margin-bottom: 27px;
  overflow:  hidden;
}
