.contacts__contacts-subtitle {
  @include fontOswald;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    @include grid;
  }
}

.contacts-wrapper {
  @include flex;
  flex-wrap: nowrap;
  width: 281px;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__label,
.contacts__input {
  @include fontOswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__input-email {
  border: 1px solid $basic-border-input;
  width: 219px;
  height: 45px;
  padding: 13px 51px 13px 15px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 551px;
    height: 52px;
    padding: 10px 301px 10px 21px;
  }

  @media (min-width: $desktop-width) {
    width: 486px;
  }
}

.contacts__input-phone {
  border: 1px solid $basic-border-input;
  width: 204px;
  height: 45px;
  padding: 13px 68px 13px 15px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: 535px;
    height: 52px;
    padding: 10px 293px 10px 21px;
    margin-left: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 472px;
  }
}
