.example {
  margin-bottom: 28px;
  margin-top: 28px;
  background-color: $basic-background;
}

.example__section-example-title {
  @include fontOswald;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.example__section-subtitle {
  @include fontArial;
  font-size: $font-basic-size;
  line-height: $font-basic-line;
  text-align: center;
}

.example__subtitle-module {
  @include fontArial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $special_dark-grey;
}

.example__module-span {
  @include fontOswald;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example__subtitle-expenses {
  @include fontOswald;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__button-slider {
  @include fontOswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
