.footer-social {
  @media (min-width: $tablet-width) {
    @include flex;
    padding-right: 0;
    padding-left: 0;
  }
}

.social__list {
  @include flex;
  list-style: none;
  padding-right: 95px;
  padding-left: 95px;
}
