.footer-info {
  background-color: $basic-background;

  @include flex;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    @include flex;
    flex-direction: row;
    padding: 53px 30px;
  }
}

.footer-info__logo-icon {
  text-align: center;
  border-bottom: 1px solid $basic-border;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    text-align: start;
    border-bottom: none;
    padding-bottom: 0;
  }
}
