.footer-social {
  border-bottom: 1px solid $basic-border;
  border-top: 1px solid $basic-border;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include flex;
    padding-right: 0;
    padding-left: 0;
    border: none;
  }
}
