.footer-location {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 362px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.footer-location__lacation-map-pin {
  position: relative;
  content: " ";
  top: 51px;
  left: 90px;

  @media (min-width: $tablet-width) {
    top: 146px;
    left: 330px;
  }

  @media (min-width: $desktop-width) {
    top: 146px;
    left: 330px;
  }
}
