.form__title {
  margin-top: 27px;
  font-family: $font-oswald;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.form__subtitle {
  margin-top: 37px;
  font-family: $font-oswald;
  font-size: $font-basic-size;
  line-height: $font-basic-line;
  color: $basic-black;
  text-transform: uppercase;
}



