.info-wrapper {
  position: relative;
  min-width: 320px;
  margin-bottom: 22px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  width: 320px;
  height: 305px;
}

.info-wrapper__title {
  @include fontOswald;
  padding: 27px 0 20px;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  width: 320px;
}

.info-wrapper__subtitle {
  @include fontOswald;
  margin-top: 5px;
  margin-bottom: 28px;
  padding-bottom: 29px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-transform: uppercase;
}

.info-wrapper__img {
  display: block;
  margin: 0 auto 5px;
  max-width: 100%;
}

.info-wrapper__button {
  padding: 7px 44px;
  text-decoration: none;
  color: $basic-white;
  background-color: $basic-green;
  text-transform: uppercase;
}
