.page-header {
  position: relative;
  display: block;
  width: 100%;
}

.page-header__conteiner {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 12px;
}

.page-header__logo-link {
  display: block;
  width: 100%;
  max-width: 190px;
}

.page-header__logo-pic {
  max-width: 100%;
}
