.page-header {
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.page-header__logo-pic {
  position: relative;
  top: 11px;
  left: 20px;
  cursor: pointer;
}
