.program-main {
  margin-bottom: 27px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 110px;
    margin-top: -50px;
  }
}

.program-main__section {
  margin-bottom: 20px;
  background-color: $basic-background;
  width: 280px;
  height: 266px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 372px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 374px;
  }
}

.program-main__section-title {
  @include fontOswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: -10px;
  left: 30px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 491px 24px 0;
    margin-left: -700px;
    top: -50px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 0 24px 114px;
    margin-left: -100px;
  }
}

.program-main__section-subtitle {
  @include fontArial;
  font-size: $font-basic-size;
  line-height: $font-basic-line;
  text-align: left;
  padding: 29px 33px 23px 20px;
  border-bottom: 1px solid $basic-border;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0 299px 0 52px;
    text-align: left;
    border-bottom: none;
    top: -50px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 103px 51px 0 52px;
  }
}

.program-main__link-catalog {
  @include fontOswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 19px 174px 22px 19px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 448px 52px 52px;
    position: relative;
    top: -30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 410px 52px 52px;
  }
}

.program-main__wrapper {
  background: $basic-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 24px;
  position: relative;
  left: 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    left: 470px;
    top: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 47px;
  }
}

.program-main__cat-slim {
  position: relative;
  left: 7px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 192px;
    left: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    left: 20px;
  }
}

.program-main__cat-pro {
  position: relative;
  left: -10px;
  top: 15px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 122px;
    left: -50px;
    top: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: 20px;
    left: -20px;
  }
}

.program-main__arrow {
  position: relative;
  left: 117px;
  top: -25px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 20px;
  }

  @media (min-width: $desktop-width) {
    top: -33px;
    left: 190px;
  }
}
