.section-goods {
  margin-bottom: 28px;
}

.section-goods__title {
  @include fontOswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $special-black;
}

.section-goods__subtitle {
  @include fontArial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special_dark-grey;
}

.section-goods__button {
  @include fontOswald;
  font-size: 16px;
  line-height: 0px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $special_dark-grey;
}
