.section-goods {
  margin: 79px 20px 28px;

  @media (min-width: $tablet-width) {
    border: 1px solid $basic-border-catalog;
    width: 324px;
    height: 370px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 365px;
  }
}

.section-goods__title {
  @include fontOswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $special-black;

  @media (min-width: $tablet-width) {
    padding: 161px 95px 23px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 25px;
    padding: 161px 47px 23px;
  }
}

.section-goods__subtitle {
  @include fontArial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    padding-right: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.section-goods__button {
  @include fontOswald;
  font-size: 16px;
  line-height: 0px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $special_dark-grey;
  padding: 20px 74px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 20px 79px;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 50px;
    margin-left: 30px;
  }
}
