.section-item {
  margin-top: 13px;
  margin-bottom: 18px;
}

.section-item__title {
  @include fontOswald;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.section-item__subtitle {
  @include fontOswald;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: $special_dark-grey;
}

.section-item__button {
  @include fontOswald;
  font-size: 16px;
  line-height: 0px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  padding: 7px 44px;
}
