.section-add-goods {
  margin-bottom: 39px;
}

.section-add-goods__title {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}
