.site-list__link {
  @include fontOswald;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    padding-left: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item {
  border-top: 1px solid $basic-color-line;

  @media (min-width: $tablet-width) {
    border: none;
    width: auto;
    display: inline-block;
    padding: 0 15px;
  }
}

.site-list__link--active {
  @media (min-width: $tablet-width) {
  border-bottom: 2px solid $basic-green;
  padding-bottom: 5px;
  cursor: pointer;
  padding-left: 0;
  }
}

.site-list__link--color {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.site-list__link--active.site-list__link--color {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-white;
  }
}
