@mixin fontOswald {
  font-family: $font-oswald;
  font-style: normal;
  font-weight: normal;
  color: $basic-black;
}

@mixin fontArial {
  font-family: $font-arial;
  font-style: normal;
  font-weight: normal;
  color: $basic-black;
}

@mixin btnCatalog {
  font-family: $font-oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  padding: 7px 109px;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin conteiner ($left, $right, $minwidth) {
  margin: 0 auto;
  padding-left: $left;
  padding-right: $right;
  min-width: $minwidth;
}

