//font
$font-oswald: "Oswald", Arial, sans-serif;
$font-arial: Arial, sans-serif;
$font-basic-size: 14px;
$font-basic-line: 18px;

//color
$basic-black: #000000;
$special-black: #111111;
$basic-green: #68B738;
$basic-dark-green: #5EAA2F;
$basic-background: #F2F2F2;
$basic-background-social: #666666;
$basic-gray: #EAEAEA;
$special-gray: #EBEBEB;
$special_dark-grey2: #222222;
$special_dark-grey: #444444;
$basic-white: #FFFFFF;
$basic-red: #FF8282;
$basic-color-line: #E6E6E6;

// Viewports
$mobile-width: 320px;
$mdmobile-width: 420px;
$bgmobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1300px;
